<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cubify | Home</title>
    <link rel="stylesheet" href="style/main.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet">

    <link rel="icon" href="images/logo-cropped.png" type="image/png">

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

</head>

<body>

    <nav id="navi">
        <div class="logocont">
            <img id="logo" src="images/logo-cropped.png" alt="Cubify">
            <h1>Escape the Noise, Embrace the Focus</h1>
            <h1>With Cubify</h1>
            <button id="learnmore">Learn More</button>
            <div id="hide-cont">
                <h1 class="navi-subtext">Our innovative cubicles are designed to eliminate all unnecessary distractions
                    so you can enjoy you work sessions undisturbed.</h1>
                <h1 class="navi-htext">Coming Soon!</h1>
            </div>
        </div>
    </nav>

    <div id="main-content">
        <h1 >Features</h1>
        <div style="margin-top: 0;" class="sec">
            <div data-aos="fade-right" class="img">
                <img src="images/simple.svg" alt="">
            </div>
            <div data-aos="fade-left" class="content">
                <h2>Simple and Effective</h2>
                <p>Cubify stands out for its simple, sleek and innovative design, emphasizing functionality, minimising
                    distractions and creating a conductive work environment</p>
            </div>
        </div>
        <div class="sec">
            <div class="content">
                <h2>Soundproof</h2>
                <p>Cubify ensures an uninterrupted working session through the implementation of innovative sound proofing techniques</p>
            </div>
            <div class="img">
                <img src="images/soundproof.svg" alt="">
            </div>
        </div>
        <div class="sec">
            <div class="img">
                <img src="images/storage.svg" alt="">
            </div>
            <div class="content">
                <h2>Storage</h2>
                <p>Cubify is equipped with ample storage facilities for all sorts of stationary needs. A special mini storage for snacks is also present!</p>
            </div>
        </div>

        <div class="sec">
            <div class="content">
                <h2>Cooler</h2>
                <p>Cubify comes installed with an innovative cooler design that ensures a pleasant working environment with no annoying sounds</p>
            </div>
            <div class="img">
                <img src="images/cold.svg" alt="">
            </div>
        </div>

        <div class="sec">
            <div class="img">
                <img src="images/light.svg" alt="">
            </div>
            <div class="content">
                <h2>Lighting</h2>
                <p>Non invasive table lighting ensures ample lighting for all work related needs without being too hard on the eyes</p>   
            </div>
        </div>

        <div class="sec">
            <div class="content">
                <h2>Charging Ports</h2>
                <p>Cubify comes installed with a charging port facilities that are able to accomodate a wide variety of charger types, including various laptop and mobile chargers</p>
            </div>
            <div class="img">
                <img src="images/charge.svg" alt="">
            </div>
        </div>

        <footer id="foot">
            <h1>Contact Us</h1>
            <p><img src="images/phone.svg" alt=""> +92-334-4629014</p>
            <p><img src="images/email.svg" alt=""> abdulmoeedkhan21@gmail.com</p>
        </footer>

    </div>


    

    <!-- <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script> -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="scripts/main.js"></script>
</body>

</html>