<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cubify</title>
    <link rel="stylesheet" href="style/main.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet">

</head>

<body>

    <nav id="navi">
        <div class="logocont">
            <img id="logo" src="images/logo-cropped.png" alt="Cubify">
            <h1>Escape the Noise, Embrace the Focus</h1>
            <h1>With Cubify</h1>
            <button id="learnmore">Learn More</button>
            <div id="hide-cont">
                <h1 class="navi-subtext">Our innovative cubicles are designed to eliminate all unnecessary distractions
                    so you can enjoy you work sessions undisturbed.</h1>
                <h1 class="navi-htext">Coming Soon!</h1>
            </div>
        </div>
    </nav>

    <div id="main-content">
        <div class="sec">
            <div class="img">
                
            </div>
            <div class="content">

            </div>
        </div>
        <div class="sec">
            <div class="content">
                
            </div>
            <div class="img">
                
            </div>
        </div>
        <div class="sec">
            <div class="img">
                
            </div>
            <div class="content">
                
            </div>
        </div>

        <div class="sec">
            <div class="content">
                
            </div>
            <div class="img">
                
            </div>
        </div>

        <div class="sec">
            <div class="img">
                
            </div>
            <div class="content">
                
            </div>
        </div>

        <div class="sec">
            <div class="content">
                
            </div>
            <div class="img">
                
            </div>
        </div>

        <footer id="foot">
            <h1>Contact Us</h1>
            <p><img src="images/phone.svg" alt=""> +92-334-4629014</p>
            <p><img src="images/email.svg" alt=""> abdulmoeedkhan21@gmail.com</p>
        </footer>

    </div>


    <script src="scripts/main.js"></script>


</body>

</html>